.weather--heading{
    box-sizing: border-box;
    background-color: #3dcd58;
    color:#ffffff;
    padding: 5px;
    width: 100%;
    margin: 0px;
}
.weather--container{

    width: 290px;
    height: 167px;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 2px 3px #888888;
}
.weather--data{
    padding: 7px;
    padding-top: 25px;
}
body{
    background-color: #fafafa;
}