body{
  background-color: #e6f3e8 !important;
}
.main-container{
  display: flex;
  margin-top: 7px;
}

.home{
  padding: 10px;
  justify-content: center;
  
}
.home-login{
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}
.header{
  background-image: '/Images/Header Image.png';
}
.header-img{
  
width: 100%;
margin-bottom: 20px;


 display: flex;
 justify-content: center;
}
/* login page */
.login{
  margin: 10px;
}
.login-image{
  max-width: 100%;
  max-height: 100%;
  display: block
  
}

.login-title{
  position: absolute;
  left: 5%;
  top: 30%;
  font-size: 78px;
  font-family: 'Source Sans Pro';
  font-style: italic;
  line-height: 1px;

}

.image-container{
  position: relative;
  text-align: center;
  color: white;
}

/* Login form with description */
.login-form{
  display: flex;
  flex-direction: row;
  margin: 25px;
  align-items: center;
  box-shadow: 0 0.5em 1.10em;
}
.login-form-item{
  width: 60%;
  margin: 5% 10% 0 10%;
  text-align: justify;
  flex: 50%;

}
.login-form-item-admin{
  width: 40%;
  margin: 5% 30% 0 30%;
  /* flex: 50%; */

}


/* Responsive login form with description */
@media (max-width: 1000px) {
  .login-form {
    flex-direction: column;
  }
}

/* npk input */
.btn-green{
  background-color: #3dcd56;
}

.control{
  min-width:75vw;
}

.historicalData--container{
  min-width:75vw;
  padding: 0;
  position: relative;
}
.profile--container{
  width:100%;
  background-color: #ffffff;
  padding: 0;
  box-shadow: 2px 3px #888888;
  position: relative;
  margin: 5%;
  height: 100%;
}
.profile--data{
  padding: 7px;
  padding-top: 25px;
}
.profile--heading{
  box-sizing: border-box;
  background-color: #3dcd58;
  color:#ffffff;
  padding: 5px;
  width: 100%;
  margin: 0px;
}

.historicalData--container{
  min-width: 600px;
}
.recentPhotos--container{
  min-width: 500px;
}
.crop-yield-chart-container{

    min-width:75vw;
    padding: 0;
    position: relative;
    margin: 5%;
}.class-col {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
  height: 100%;
}


