body{
    margin: 0px;
    background: #FAFAFA;
}

.login-nav-container{
    padding: 5px 7px;
}

.login-nav{
    display: flex;
    align-items: center;
    padding:2px;
    height: 70px;
}

.logo-name{
    margin-right: auto;
}

h4{

}
.logo-name{
    border-left:solid 1px #14AE13;
    padding-left: 10px;
    padding:5px;
    color: #14AE13;
}

.nav-icon{
    padding-right: 10px;
}

.contact-btn{
    border-left: solid 1px #14AE13;
    padding-left: 15px;
    padding:5px 5px 5px 15px;
    color: #14AE13;
}

.log-out-btn{
    padding:5px 17px 5px 5px;
    color: #14AE13;
}

.bottom-border{
    width: 100vm;
    height: 5px;
    box-shadow: 0px 5px 5px -2px #333;
    background: #FFFFFF;

}

