
.home{
  justify-content: center;
  
}
.home-login{
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}
.header{
  background-image: '/Images/Header Image.png';
}
.header-img{
  
width: 100%;
margin-bottom: 20px;


 display: flex;
 justify-content: center;
}

