.home{
  justify-content: center;
  
}
.home-login{
<<<<<<< HEAD
  display: flex;
  justify-content: center;
}
.header{
  background-image: '/Images/Header Image.png';
}
.header-img{
  
width: 100%;
margin-bottom: 20px;


=======
 display: flex;
 justify-content: center;
>>>>>>> origin/main
}

