.input--heading{
    box-sizing: border-box;
    background-color: #3dcd58;
    color:#ffffff;
    padding: 5px;
    width: 100%;
    margin: 0px;
}
.input--container{

    width: 75%;
    background-color: #ffffff;
    padding: 0;
    margin: 15%;
    box-shadow: 2px 3px #888888;
    
}
.input--data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;


}
.input--reading{
    background-color: #cbb0b0;
    text-align: center;
}
.data-label{
    margin: 12px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 100%;
    justify-content: center;
}

body{
    background-color: #fafafa;
}

.btn-green{
    background-color: #3dcd58 !important;
}